# Ignore everything in the root directory
/*
# Except for:
!.gitignore
# And the folder 'public'
!/public/
!/public/*
# Team logos used by generated images
!/teams/
/teams/*
!/teams/mandatory.png
!/teams/dignitas.png
!/teams/big_lucky.png
!/teams/liquid.png
